.resumeItem {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.resumeItem__left{
    flex: 0.1;

}
.resumeItem__left > h3{
    color: var(--white-color);
    text-align: center;
    font-size: 14px;
}

.resumeItem__right{
    flex: 0.7;
}

.resumeItem__right > h1 {
    font-size: 26px;
    font-weight: 600;
    color: var(--primary-color);
}
.resumeItem__right > h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--white-color);

}
.resumeItem__right > p {
    font-size: 15px;
    font-weight: 500;
    color: var(--font-light-color);
}