.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  justify-content: space-between;
  align-items: center;
  border-right: 8px solid var(--border-color);
  height: 100vh;
  background-color: var(--sidebar-dark-color);
  transition: all 0.4s ease-in-out;
}

.sidebar__hr {
  height: 1px;
  border: 0;
  background-color: var(--border-color);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.sidebar__image {
  flex: 0.25;
  width: 100%;
  height: 100%;

  /* border-bottom: 0.5px solid gray; */
  text-align: center;
  padding: 2rem 0;
}
.sidebar__imageLogo {
  width: 100px;

  object-fit: contain;
  border-radius: 50%;
  border: 8px solid var(--border-color);
}

.sidebar__center {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  width: 100%;
  height: 100%;
  /* border-bottom: 1px solid gray; */
}
.sidebar__center > a {
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
  /* padding: .2rem 0; */
  width: 100%;
  text-align: center;
  z-index: 100;
}
.sidebar__center > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 50%;
  background-color: var(--primary-color);
  transition: all 0.4s cubic-bezier(0.79, 0.49, 0, 0.4);
  z-index: 1;
  opacity: 0.4;
}

.sidebar__center > a:hover::before {
  width: 100%;
  height: 100%;
}

.sidebar__centerLinks {
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0;
  /* color: aquamarine; */
}

.sidebar__footer {
  flex: 0.1;
  display: flex;
  color: var(--white-color);
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.sidebar__footer > h2 {
  font-size: larger;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.sidebar__hamburgerMenu {
  position: absolute;
  right: 10%;
  top: 5%;
  z-index: 16;
}
.sidebar__hamburgerMenu > button > span > .MuiSvgIcon-root {
  font-size: 3rem !important;
}
.nav-toggler{
  transform: translateY(0);
  z-index: 20;
  
}
@media screen and (max-width: 1200px) {
  .sidebar{
    /* transform: translateY(-100%); */
    /* width: 50px; */

  }
  .sidebar__hamburgerMenu {
    position: absolute;
    right: 10%;
    top: 5%;
    z-index: 16;
  }
}
